<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Member List</title>
  </head>
  <body>
    <element name="member-datagrid" extends="span">
      <template>
        <div class="listMember">
          
            <code id="code_legend">
              <ul id="double_legend">
                <li>
                  First Name
                </li>
                <li>
                  Last Name
                </li>
                <li>
                  Address
                </li>
              </ul>
            </code>
            <code><ul id="double"> <span class="code-comment"><!-- Alter ID accordingly --></span>
              <template iterate="member in mmembers.toList()">
                      <li>
                       {{ member.firstname }}
                      </li> 
                      <li>
                        {{ member.lastname }}
                      </li>
                      <li>
                        {{ member.address }}
                      </li>
              </template>
            </ul>
           </code>
        </div>
      </template>
      <script type="application/dart" src="member_datagrid.dart"></script>
    </element>
  </body>
</html>